.habilidades_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 90%;
}

.habilidades_container > div {
    background-color:  #212146;
    padding: 2.4rem 5rem;

    border-radius: 2rem;
    border:  1px solid transparent;
    transition: all 0.4s ease;
    
}

.habilidades_container > div:hover{
    background: transparent;
    border-color:rgb(87, 95, 104);
    cursor: default;
    
}

.habilidades_container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: #4db5ff;

}

.habilidades_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    
}

.habilidades_details{
    display: flex;
    gap: 1rem;
}

.habilidades_details-icon{
    margin-top: 6px;
    color: #4db5ff
}

#habilidades h2{
    color: #4db5ff;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

#habilidades{
    margin-top: 5rem;
    
}

@media screen and (max-width: 1024px) {
    .habilidades_container{
        grid-template-columns: 1fr ;
        width: 100%;
    }

    .habilidades_container > div{
        width: 75%;
        padding: 2rem;
        margin: 0 auto;
    }

    .habilidades_content{
        padding: 1rem;
    }
    
}



@media screen and (max-width: 600px){
    .habilidades_container{
        gap: 1rem;

    }

    .habilidades_container > div{
        width: 100%;
        padding: 2rem 1rem;

    }

}

@media screen and (max-width: 768px){
    .habilidades_container{
        width: 100%;
    }
}