.container.contact_container{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;

}

.contact_options {
display: flex;
flex-direction: column;
gap: 1.2rem;

}

.contact_option{
    background: #212146;
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: all 0.4s ease;

}

.contact_option:hover{
    background: transparent;
    border-color:rgb(87, 95, 104);
}

.contact_option-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact_option a{
    margin-top: 0.7rem;
    display: inline-block;

}

.btn-secundary{
    background-color: #4db5ff;
    border-radius: 0.2rem;
    border-color:rgb(87, 95, 104);
    padding: 0.3rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: all 0.4s ease;
    cursor: pointer;
    font-size: 1rem;

}

.btn-secundary:hover{
    background: white;
    border-color:rgb(87, 95, 104);
}

.contact_option a{
    color: #4db5ff;
    text-decoration: none;

}

#contact h2{
    color: #4db5ff;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
}

/* ==========form============ */

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

}

input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid rgb(87, 95, 104);
    resize: none;
    color: white;
}

@media screen and (max-width: 1024px) {
    .container.contact_container{
        grid-template-columns: 1fr;
        gap: 2rem;

    }
 }
 
 
 
 @media screen and (max-width: 600px){
    .container.contact_container{
        grid-template-columns: 1fr;
        gap: 2rem;
        width: 100%;
    
 }
}
 
 @media screen and (max-width: 768px){

    
 }